<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReceitasCaseiras | Ecommerce</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="home.css">

</head>

<body>
    
    <div class="navbar">
        <div class="header-inner-content">
            <h1 class="logo">Receitas<span>Caseiras</span></h1>
            <nav>
                <ul class="menu">


                          <li><a href="/receitas">Receitas</a>
                             <ul>
                                  <li><a href="/salgados">Salgados</a></li>
                                  <li><a href="doces.html">Doces</a></li>
                                  <li><a href="/Bolos">Bolos</a></li>
                               </ul>
                        </li>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="/usuarios">Cadastrar</a></li>
            </ul>
            </nav>

        </div>
    </div>

    <head>
        <div class="header-inner-content">
            <div class="heard-botton-side">
                <div class="heard-botton-side-left">

                    <h2>Quando é feito com amor, tem até mais sabor</h2>
                    <p>
                        É bom demais sentir o gosto ou o cheiro de um <br> alimento
                        e lembrar de momentos tão deliciosos!
                    </p>


                </div>
                <div class="heard-botton-side-right">
                    <img src="img/bolo4.png" alt="">

                </div>

            </div>
        </div>
    </head>


    <!--Main-->
    <Main>
        <div class="gray-background">
            <div class="page-inner-content">
                <div class="cols cols-3">
                    <img src="img/bolo1.png" alt="">
                    <img src="img/bolo2.png" alt="">
                    <img src="img/bolo3.png" alt="">
                </div>
            </div>
        </div>



        <div class="page-inner-content">

            <h3 class="section-title">Receitas recomendadas </h3>

        </div>

        <div class="header-inner-content">
            <div class="heard-botton-side">
                <div class="heard-botton-side-left">

                    <h2>Quando é feito com amor, tem até mais sabor</h2>
                    <p>
                        É bom demais sentir o gosto ou o cheiro de um <br> alimento
                        e lembrar de momentos tão deliciosos!
                    </p>


                </div>
                <div class="heard-botton-side-right">
                    <img src="img/bolo4.png" alt="">

                </div>

            </div>
        </div>

        <div class="header-inner-content">
            <div class="heard-botton-side">
                <div class="heard-botton-side-left">

                    <h2>Bolo de morango</h2>
                    <p>
                        morango <br>
                        sorvete
                    </p>


                </div>
                <div class="heard-botton-side-right">
                    <img src="img/bolo4.png" alt="">

                </div>

            </div>
        </div>

        <div>
            <div class="page-inner-content">

                <div class="testimonials">
                    <div class="testimonial">
                        <p>"</p>
                        <p>O melhor site de receitas</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733</p>
                        <p>Michelle</p>
                    </div>

                    <div class="testimonial">
                        <p>"</p>
                        <p>A melhor vaariedades de doces e salgado.</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733</p>
                        <p>Marcielle</p>
                    </div>

                    <div class="testimonial">
                        <p>"</p>
                        <p>Tudo em um só lugar</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733</p>
                        <p>Breenda</p>

                    </div>

                    <div class="testimonial">
                        <p>"</p>
                        <p>Tudo em um só lugar</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733</p>
                        <p>Samira</p>
                    </div>
                </div>
            </div>
        </div>
    </Main>

    <footer class="gray-background">
        <div class="page-inner-content footer-content">
            <div class="download-options">
                <p>Veja a nossa variedade de receitas</p>
                
                
            </div>

            <div class="logo-footer">
                <h1 class="logo">Receitas<span>Caseiras</span></h1>
                <p>
                    Nosso objetivo é ajudar na melhor escolha de sobremesa
                </p>
            </div>
            
        </div>

       

        <div class="page-inner-content copyright">
            <p>Copyright 2023 - Receitas com todos direitos reservados</p>
        </div>
    </footer>

    <script>
        const navbar = document.querySelector(".navbar");
        const menuButton = document.querySelector(".menu-button");

        menuButton.addEventListener("click", () => {
            navbar.classList.toggle("show-menu");
        });
    </script>


</body>

</html>